@import "src/assets/scss/variables";

.quiz-main-container {
  .created-by-container {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quiz-label {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .quiz-label-text {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .favorite-button {
    font-size: 22px;
    height: 44px;
  }

  .ant-rate {
    font-size: 64px;
  }

  .quiz-time {
    margin-top: 20px;
    text-align: left;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .update-quiz-btn {
    width: 100%;
    margin-top: 2%;
    
  } 
}
