@import "src/assets/scss/variables";

  .quiz-details-div {
    display: flex;
    flex-direction: column;
    width: 600pt;
  }

  .add-qn-btn {
    font-size: 13pt;
    height: 27pt;
    background-color: rgb(15, 179, 15);
    color: white;
    border: none;
  }

  .add-qn-btn:hover {
    opacity: 80%;
  }

  .cu-container {
    margin-top: 4%;
  }

  .time-limit-label {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 13pt;
    padding-top: 2%;
  }

  .quiz-name-label {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 13pt;
    padding-top: 2%;
  }

  .time-input {
    width: 80pt !important;
    font-size: 12pt !important;
  }

  .green-btn {
      color: green;
  }

  .quiz-details-top {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .quiz-details-bottom {
    margin-top: 1%;
  }

  .icon-btn {
    border: none;
    background-color: inherit;
    height: 25pt;
    font-size: 18pt;
  }

  #err-label {
      color: lightcoral;
      font-size: 10pt;
  }

  .delete-btn {
    color: rgb(247, 85, 85);
  }

  .icon-btn:hover {
    opacity: 80%;
  }

  .ans-input {
    width: 300pt !important;
    height: 25pt !important;
  }

  .qn-input {
    width: 400pt !important;
  }

  #cat-selector {
    width: 200pt !important;
    margin-left: 2%;
    font-size: 12pt !important;
  }

  .quiz-input {
    font-size: 13pt !important;
    width: 250pt !important;
  }

  .cu-container {
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .question-item-outer {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1pt solid gray;
    border-radius: 10px;
    padding: 5pt;
    width: 500pt;
  }

  .question-item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5pt;
  }

  .answer-item {
    margin-top: 10pt;
    display: flex;
  }

  .question-item-top {
    width: 100%;
    display: inline-block;
  }

  .del-qn-btn {
    float: right;

  }

  .question-title {
    float: left;

  }

  .ans-add-btn {
    background-color: rgb(15, 179, 15) !important;
    color: white !important;
    border-radius: 10%;
    margin-left: 1%;
  }

  .qn-ans-section {
    display: flex;
    margin-top: 4%;
  }

  .question-title {
    font-weight: 600;
    font-size: 14pt;
  }

  .ans-section {
    overflow-y: auto;
    margin-top: 3%;
    height: 160pt;
    max-height: 160pt;
    display: flex;
    flex-direction: column;
  }

  .question-list {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    overflow-y: auto;
    height: 600pt;
    max-height: 585pt;
    padding-right: 1%;
  }

  .add-qn-btn {
    margin-left: 2%;
  }

  .category-label {
    padding-top: 2.5%;
    font-size: 13pt;
  }

  .sub-btn {
    background-color: $gray !important;
    border: $tertiary solid 2pt !important;
    width: 150pt !important;
    font-size: 13pt !important;
    font-weight: bold !important;
    height: 28pt !important;
    margin-top: 2%;
  }