@import "src/assets/scss/variables";

.footer-container {
  background: $tertiary;
  position: absolute;
  bottom: 0;
  min-height: 50px;
  padding-right: 3%;
  padding-left: 3%;
  width: 100%;
  margin-top: 30px;
  color: $secondary;

  .project-names {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-icon {
    font-size: 20px;
  }
}
