
#quizTitle {
    font-size: 18px;
    color: white;
    font-style: oblique;
    line-height: 20px;
    display: block;
} 


#quizDiv {
    background-color: #424444;
    border: 2pt solid #424444;
    padding: 2%;
    height: 23.5%;
} 

#qTextArea {
    padding: 10%;
}

#qTextArea > p1 {
    font-size: 22px;
    font-weight: 500;
}