#top {
    height: 6%;
    background-color: #424444;
    border: 2pt solid #424444;
    overflow: none;
    padding-top: 3%;
    overflow:hidden;
}

#mid{
    height: 25%;
    background-color: #bdc3c5;
    border: 2pt solid #bdbdbd;
    padding: 18%;
}

#bot{
    height: 69%;
    background-color: #DDE5E7;
 /*   border: 2pt solid #bdbdbd; */
    padding-top: 10%;
    display:block;
    overflow: auto;
}

#top > p {
    font-size: 15px;
    color: white;
    font-style: oblique;
    line-height: 20px;
    display: block;
} 

.timer  {
    color: black;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
}

#score {
    margin-right: 8%;
}

#qGrid {
    display: grid;
    margin-top: 35%;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    margin-left: 5%;
    margin-right: 5%;
   /* overflow-y: scroll;  */
}

.qBox {
    padding: 1px;
    height: 30px; 
    background-color: white;
    border: black solid 2px;
    font-weight: bold;
    width: 90%;
}

.gBox {
    background-color: lightgreen;
    color: white;
}

.rBox {
    background-color: lightcoral;
    color: white;
}